<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsAlphiliaPortBinding" />
                <binding name="wsSeguimientoPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/WsAlphilia_G_/wsAlphilia"
                binding="basicHttpBinding" bindingConfiguration="wsAlphiliaPortBinding"
                contract="wsAlphilia.wsAlphilia" name="wsAlphiliaPort" />
            <endpoint address="http://localhost:8080/WsSeguimiento(G)/wsSeguimiento"
                binding="basicHttpBinding" bindingConfiguration="wsSeguimientoPortBinding"
                contract="wsDespacho.wsSeguimiento" name="wsSeguimientoPort" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>